{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://github.com/shahidullahPiaroo"><img src="{% static 'images/github.svg' %}" target="_blank" alt="..."></a></li>

        <li><a href="https://www.instagram.com/shahidullah_piaro/?hl=en"><img src="{% static 'images/insta.svg' %}" target="_blank" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Develop by Shahidullah Piaro</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->